.dialog-button{
  background-color: rgb(var(--v-theme-primary)) !important;
  color: white !important;
}

.title-text-color{
  color: rgb(var(--v-theme-primary));
}

.uppercase-text{
  text-transform: uppercase;
}